<h1>Survey#new</h1>
<p>Find me in app/views/survey/new.html.erb</p>
<%= form_tag :action => 'create' do %>
	<% for @field in @survey.additional_fields %>
		<%= hidden_field_tag "additional[#{@field[0]}]", @field[1] %>
	<% end %>
	<%= hidden_field_tag 'survey_id', @survey.id %>
	<%= hidden_field_tag 'survey_part', @survey.part %>
	
	<% for @qa in @nonsticky_a_questions %>
		question id: <%= @qa.id %>
		<%= fields_for "qa[]" do |f| %>
			<%= image_tag @qa.ref_picture %>
			<%= image_tag @qa.other_picture %>
			<%= hidden_field_tag "qa[#{@qa.id}][resemblance]", 0 %>
			<div class="slider" data-ref="<%= @qa.id %>" id="slider_<%= @qa.id %>"></div>
		<% end %>
		<br />
	<% end %>
	
	<p>
		<%= submit_tag 'Create' %>
	</p>
<% end %>
<script type="text/javascript">
	$( ".slider" ).slider({
		change: function(event, ui) {
			var ref = $(ui.handle).parent().data('ref');
			$('#qa_' + ref + '_resemblance').val(ui.value);
		}
	});
</script>
